nav ul {
    display: flex;
    gap: 20px;
  }
  nav#horizontal li#logo img {
    max-width: 80%;
    max-height: 80%;
  }
  img {
    width: 1.5em;
    height: 1.5em;
  } 
  .esquerra {
    margin-left: auto;
  }